In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd
# from pathlib import Path
from collections import Counter

In [3]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

# Read the CSV and Perform Basic Data Cleaning

In [4]:
# https://help.lendingclub.com/hc/en-us/articles/215488038-What-do-the-different-Note-statuses-mean-

columns = [
    "loan_amnt", "int_rate", "installment", "home_ownership",
    "annual_inc", "verification_status", "issue_d", "loan_status",
    "pymnt_plan", "dti", "delinq_2yrs", "inq_last_6mths",
    "open_acc", "pub_rec", "revol_bal", "total_acc",
    "initial_list_status", "out_prncp", "out_prncp_inv", "total_pymnt",
    "total_pymnt_inv", "total_rec_prncp", "total_rec_int", "total_rec_late_fee",
    "recoveries", "collection_recovery_fee", "last_pymnt_amnt", "next_pymnt_d",
    "collections_12_mths_ex_med", "policy_code", "application_type", "acc_now_delinq",
    "tot_coll_amt", "tot_cur_bal", "open_acc_6m", "open_act_il",
    "open_il_12m", "open_il_24m", "mths_since_rcnt_il", "total_bal_il",
    "il_util", "open_rv_12m", "open_rv_24m", "max_bal_bc",
    "all_util", "total_rev_hi_lim", "inq_fi", "total_cu_tl",
    "inq_last_12m", "acc_open_past_24mths", "avg_cur_bal", "bc_open_to_buy",
    "bc_util", "chargeoff_within_12_mths", "delinq_amnt", "mo_sin_old_il_acct",
    "mo_sin_old_rev_tl_op", "mo_sin_rcnt_rev_tl_op", "mo_sin_rcnt_tl", "mort_acc",
    "mths_since_recent_bc", "mths_since_recent_inq", "num_accts_ever_120_pd", "num_actv_bc_tl",
    "num_actv_rev_tl", "num_bc_sats", "num_bc_tl", "num_il_tl",
    "num_op_rev_tl", "num_rev_accts", "num_rev_tl_bal_gt_0",
    "num_sats", "num_tl_120dpd_2m", "num_tl_30dpd", "num_tl_90g_dpd_24m",
    "num_tl_op_past_12m", "pct_tl_nvr_dlq", "percent_bc_gt_75", "pub_rec_bankruptcies",
    "tax_liens", "tot_hi_cred_lim", "total_bal_ex_mort", "total_bc_limit",
    "total_il_high_credit_limit", "hardship_flag", "debt_settlement_flag"
]

target = ["loan_status"]

In [9]:
# Load the data
file_path = 'LoanStats_2019Q1.csv'
df = pd.read_csv(file_path, skiprows=1)[:-2]
df = df.loc[:, columns].copy()

# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')

# Drop the null rows
df = df.dropna()

# Remove the `Issued` loan status
issued_mask = df['loan_status'] != 'Issued'
df = df.loc[issued_mask]

# convert interest rate to numerical
df['int_rate'] = df['int_rate'].str.replace('%', '')
df['int_rate'] = df['int_rate'].astype('float') / 100


# Convert the target column values to low_risk and high_risk based on their values
x = {'Current': 'low_risk'}   
df = df.replace(x)

x = dict.fromkeys(['Late (31-120 days)', 'Late (16-30 days)', 'Default', 'In Grace Period'], 'high_risk')    
df = df.replace(x)

df.reset_index(inplace=True, drop=True)

df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,10500,0.1719,375.35,RENT,66000.0,Source Verified,Mar-2019,low_risk,n,27.24,...,85.7,100.0,0.0,0.0,65687.0,38199.0,2000.0,61987.0,N,N
1,25000,0.2000,929.09,MORTGAGE,105000.0,Verified,Mar-2019,low_risk,n,20.23,...,91.2,50.0,1.0,0.0,271427.0,60641.0,41200.0,49197.0,N,N
2,20000,0.2000,529.88,MORTGAGE,56000.0,Verified,Mar-2019,low_risk,n,24.26,...,66.7,50.0,0.0,0.0,60644.0,45684.0,7500.0,43144.0,N,N
3,10000,0.1640,353.55,RENT,92000.0,Verified,Mar-2019,low_risk,n,31.44,...,100.0,50.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0,N,N
4,22000,0.1474,520.39,MORTGAGE,52000.0,Not Verified,Mar-2019,low_risk,n,18.76,...,100.0,0.0,0.0,0.0,219750.0,25919.0,27600.0,20000.0,N,N

# Split the Data into Training and Testing

In [10]:
# Create our features
X = pd.get_dummies(df.drop('loan_status', axis=1))

# Create our target
y = df["loan_status"]

In [11]:
X.describe()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,issue_d_Mar-2019,pymnt_plan_n,initial_list_status_f,initial_list_status_w,next_pymnt_d_Apr-2019,next_pymnt_d_May-2019,application_type_Individual,application_type_Joint App,hardship_flag_N,debt_settlement_flag_N
count,66027.000000,66027.000000,66027.000000,6.602700e+04,66027.000000,66027.000000,66027.000000,66027.000000,66027.000000,66027.000000,...,66027.000000,66027.0,66027.000000,66027.000000,66027.000000,66027.000000,66027.000000,66027.000000,66027.0,66027.0
mean,16670.800582,0.127815,480.389696,8.817054e+04,21.805669,0.217729,0.497024,12.566859,0.125782,17609.507217,...,0.184727,1.0,0.123677,0.876323,0.396883,0.603117,0.859800,0.140200,1.0,1.0
std,10272.288887,0.048067,287.735670,1.172207e+05,20.466622,0.720589,0.757640,6.010418,0.336682,21820.348630,...,0.388079,0.0,0.329215,0.329215,0.489255,0.489255,0.347197,0.347197,0.0,0.0
min,1000.000000,0.060000,30.890000,4.000000e+01,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,...,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,1.0
25%,9000.000000,0.088100,265.730000,5.000000e+04,13.900000,0.000000,0.000000,8.000000,0.000000,6285.000000,...,0.000000,1.0,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,1.0,1.0
50%,15000.000000,0.118000,404.220000,7.300000e+04,19.760000,0.000000,0.000000,11.000000,0.000000,12057.000000,...,0.000000,1.0,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.0,1.0
75%,24000.000000,0.155700,647.690000,1.036720e+05,26.660000,0.000000,1.000000,16.000000,0.000000,21735.000000,...,0.000000,1.0,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.0,1.0
max,40000.000000,0.308400,1676.230000,8.797500e+06,999.000000,18.000000,5.000000,69.000000,4.000000,563245.000000,...,1.000000,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0

In [ ]:
# Check the balance of our target values
y.value_counts()

low_risk     68470
high_risk      347
Name: loan_status, dtype: int64

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1, 
                                                    stratify=y)
X_train.shape

(49520, 95)

In [13]:
from sklearn.preprocessing import StandardScaler

# Creating StandardScaler instance
scaler = StandardScaler()

# Fitting Standard Scaler
X_scaler = scaler.fit(X_train)

# Scaling data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

# Ensemble Learners

In this section, you will compare two ensemble algorithms to determine which algorithm results in the best performance. You will train a Balanced Random Forest Classifier and an Easy Ensemble AdaBoost classifier . For each algorithm, be sure to complete the folliowing steps:

1. Train the model using the training data. 
2. Calculate the balanced accuracy score from sklearn.metrics.
3. Print the confusion matrix from sklearn.metrics.
4. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.
5. For the Balanced Random Forest Classifier onely, print the feature importance sorted in descending order (most important feature to least important) along with the feature score

Note: Use a random state of 1 for each algorithm to ensure consistency between tests

### Balanced Random Forest Classifier

In [14]:
# Resample the training data with the BalancedRandomForestClassifier
from imblearn.ensemble import BalancedRandomForestClassifier
classifier = BalancedRandomForestClassifier(bootstrap=True, class_weight=None,
                criterion='gini', max_depth=None, max_features='auto',
                max_leaf_nodes=None, min_impurity_decrease=0.0,
                min_samples_leaf=2, min_samples_split=2,
                min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=1,
                oob_score=False, random_state=1, replacement=False,
                sampling_strategy='auto', verbose=0, warm_start=False)

classifier.fit(X_train_scaled, y_train)

BalancedRandomForestClassifier(min_samples_leaf=2, n_jobs=1, random_state=1)

In [16]:
# Display the confusion matrix
from sklearn.metrics import confusion_matrix

y_pred = classifier.predict(X_test)
confusion_matrix(y_test, y_pred)

array([[   18,    64],
       [ 1504, 14921]])

In [17]:
# Calculated the balanced accuracy score
from sklearn.metrics import balanced_accuracy_score

balanced_accuracy_score(y_test, y_pred)

0.5639722315031369

In [18]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.01      0.22      0.91      0.02      0.45      0.19        82
   low_risk       1.00      0.91      0.22      0.95      0.45      0.21     16425

avg / total       0.99      0.91      0.22      0.95      0.45      0.21     16507

In [20]:
# List the features sorted in descending order by feature importance
pd.set_option("display.max_rows", None, "display.max_columns", None)

importances = pd.DataFrame(classifier.feature_importances_, index = X_train.columns, columns=['Importance']).sort_values('Importance', ascending=False)
importances.loc[:,:]

                                     Importance
total_rec_prncp                        0.092165
total_pymnt                            0.070156
total_rec_int                          0.062833
total_pymnt_inv                        0.054394
last_pymnt_amnt                        0.044880
issue_d_Jan-2019                       0.025694
int_rate                               0.025018
tot_hi_cred_lim                        0.020686
mths_since_recent_inq                  0.019778
out_prncp_inv                          0.017208
dti                                    0.016361
mo_sin_old_il_acct                     0.015470
annual_inc                             0.015266
all_util                               0.014679
total_bal_ex_mort                      0.014612
tot_cur_bal                            0.014546
bc_open_to_buy                         0.014370
bc_util                                0.013969
total_il_high_credit_limit             0.013824
out_prncp                              0.013671
total_bc_limit                         0.013206
total_bal_il                           0.013125
installment                            0.012895
mo_sin_old_rev_tl_op                   0.012863
il_util                                0.012812
revol_bal                              0.012777
mths_since_rcnt_il                     0.012562
max_bal_bc                             0.012064
issue_d_Mar-2019                       0.011919
total_rev_hi_lim                       0.011632
avg_cur_bal                            0.011590
num_sats                               0.011032
loan_amnt                              0.009907
inq_last_12m                           0.009896
mo_sin_rcnt_rev_tl_op                  0.009658
num_il_tl                              0.009505
num_rev_accts                          0.009483
mths_since_recent_bc                   0.009241
total_rec_late_fee                     0.009166
num_rev_tl_bal_gt_0                    0.009043
num_op_rev_tl                          0.008965
mo_sin_rcnt_tl                         0.008952
num_actv_rev_tl                        0.008949
open_acc                               0.008709
num_tl_op_past_12m                     0.008635
total_acc                              0.008473
num_bc_tl                              0.008269
percent_bc_gt_75                       0.008049
total_cu_tl                            0.007888
pct_tl_nvr_dlq                         0.007143
next_pymnt_d_May-2019                  0.006279
num_bc_sats                            0.006210
open_il_12m                            0.006131
inq_fi                                 0.006097
acc_open_past_24mths                   0.006010
open_rv_24m                            0.006008
next_pymnt_d_Apr-2019                  0.005949
mort_acc                               0.005769
inq_last_6mths                         0.005611
num_actv_bc_tl                         0.005551
issue_d_Feb-2019                       0.005426
delinq_2yrs                            0.005030
open_act_il                            0.004977
open_acc_6m                            0.004891
open_rv_12m                            0.004206
open_il_24m                            0.004055
verification_status_Source Verified    0.002730
num_accts_ever_120_pd                  0.002494
verification_status_Verified           0.002227
verification_status_Not Verified       0.001896
tot_coll_amt                           0.001895
home_ownership_OWN                     0.001871
home_ownership_RENT                    0.001848
pub_rec                                0.001841
application_type_Joint App             0.001444
application_type_Individual            0.001299
home_ownership_MORTGAGE                0.001182
initial_list_status_w                  0.001036
pub_rec_bankruptcies                   0.000957
initial_list_status_f                  0.000611
num_tl_90g_dpd_24m                     0.000442
chargeoff_within_12_mths               0.000039
pymnt_plan_n                           0.000000
hardship_flag_N                        0.000000
num_tl_120dpd_2m                       0.000000
home_ownership_ANY                     0.000000
tax_liens                              0.000000
num_tl_30dpd                           0.000000
recoveries                             0.000000
collection_recovery_fee                0.000000
collections_12_mths_ex_med             0.000000
policy_code                            0.000000
delinq_amnt                            0.000000
acc_now_delinq                         0.000000
debt_settlement_flag_N                 0.000000

### Easy Ensemble AdaBoost Classifier

In [ ]:
# Train the EasyEnsembleClassifier
from imblearn.ensemble import EasyEnsembleClassifier

eClassifier = EasyEnsembleClassifier(base_estimator=None, n_estimators=100, n_jobs=1,
            random_state=1, replacement=False, sampling_strategy='auto',
            verbose=0, warm_start=False)
eClassifier.fit(X_train_scaled, y_train)

In [ ]:
# Display the confusion matrix
from sklearn.metrics import confusion_matrix

y_pred = eClassifier.predict(X_test)
confusion_matrix(y_test, y_pred)

array([[   93,     8],
       [  983, 16121]])

In [ ]:
# Calculated the balanced accuracy score
from sklearn.metrics import balanced_accuracy_score

balanced_accuracy_score(y_test, y_pred)

0.9316600714093861

In [ ]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced

print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.09      0.92      0.94      0.16      0.93      0.87       101
   low_risk       1.00      0.94      0.92      0.97      0.93      0.87     17104

avg / total       0.99      0.94      0.92      0.97      0.93      0.87     17205